/* div{
    background-color: blue;
    color: fuchsia;
    height: 150vh;
    width: 70%;
    margin: auto;
}

h1{
    background-color: aqua;
    width: 70%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 5em;
    padding-right: 1em; 
}

h2{
    background-color: papayawhip;
    margin: 2em;
    padding: 3em;
    border: 10px solid paleturquoise
} */

/* 
html{
    font-size: 20px;
}

main{
    background-color: blue;
    color: #CDECF9;
    width: 80%;
    margin: auto;
    
    height: 200vh;   
}

h1{
    text-align: center;
    padding: 15px 8px; 
}

h2{
    border-bottom: 10px dashed;
    margin-bottom: 1em;
}
p{
    font-size: 2rem;
    border-left: 5px dashed;
    border-right: 5px dashed;

}






 */
/* 
 /* body{
    background-color: azure;
 }
 div{
    height: 60vh;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.589);
    background: linear-gradient(180deg, green 30%, white 30%, white 65%, green 65% ); */

body{
    background-color: cyan;
}

.image{
    width: 700px;
    height: 400px;
    background: url(./images/hilda.jpeg);
    background-size: cover;
    color: transparent;
    font-size: 4em ;
    -webkit-background-clip: text;
    text-align: center;
 }

 .online{
    width: 700px;
    height: 400px;
    background:url(./images/woman.png.png), url(https://images.unsplash.com/photo-1579165466949-3180a3d056d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80)
    , url(https://images.unsplash.com/photo-1589156280159-27698a70f29e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=386&q=80),
    linear-gradient(90deg, blue, green, yellow);
    background-size: 150px;
    background-position: center, top left, bottom right, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat, repeat;

 }
  
.bel{
    height: 60vh;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.589);
    background: linear-gradient(90deg, black 30%, yellow 30%, yellow 65%, red 65% );
    margin: auto;
 } 

 div{
    height: 60vh;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.589);
    background: linear-gradient(180deg, red 30%, white 30%, white 35%, blue 35%, blue 60%, white 60%, white 65%, green 65%);
    margin: auto;
    margin-bottom: 50px;
 }

 
 .japan{
    width: 600px;
    height: 500px;
    background: radial-gradient(circle, red 30%, white 30%);
 }
 .nig{
    height: 60vh;
    width: 50%;
    background-color: rgba(0, 0, 255, 0.589);
    background: linear-gradient(90deg, green 30%, white 30%, white 65%, green 65% )
 }

 .conic{
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    width: 700px;
    height: 400px;
    margin-top: 30px;
    color: transparent;
    background: conic-gradient( yellow 25%, red 25%, red 30%, blue 30%, blue 60%, green 60%, green 80%, purple 80%, purple 100% );
    -webkit-background-clip: text;

 }

 .ghana{ height: 60vh;
    width: 50%;
    background-image: url(./images/R-removebg-preview.png), 
    linear-gradient(180deg, red 30%, yellow 30%, yellow 65%, green 65% ) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px, 600px;
 }

 .blend{
    width: 700px;
    height: 400px;
    background-color: green;
    background-image: url(./images/blackwoman.jpeg);
    background-size: cover;
    background-color: rgb(48, 55, 57);
 }
 .blend:hover{
    background-blend-mode: overlay;
    cursor: pointer;

 }






